body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

#gameScreen {
  width: 100%;
  max-width: 600px; /* Limit the width of the game screen */
  margin: 20px auto; /* Center the game screen */
  transform-origin: top center;
}

.instructions {
  display: none; /* Hide instructions by default on mobile */
}

@media (min-width: 768px) {
  .instructions {
    display: block; /* Show instructions on larger screens */
    margin: 20px;
  }
}

.mobile-controls {
  position: relative; /* Center controls relative to the page */
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  align-items: center; /* Center align vertically stacked buttons */
  z-index: 100; /* Ensure the controls are above the game screen */
  margin-top: 20px; /* Space between game screen and controls */
}

.control-row {
  display: flex;
  justify-content: center;
  margin: 10px 0; /* Space between rows */
}

.control-btn {
  width: 70px;
  height: 70px;
  margin: 10px;
  font-size: 24px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  cursor: pointer;
  outline: none;
}

.control-btn:active {
  background-color: darkred;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
